@model Core.Entities.Job

<tr>
    <td>@Model.Id</td>
    <td>
        <a asp-action="Details" asp-route-id="@Model.Id">@Model.Name</a>
    </td>
    <td>@Model.Company.Name</td>
    <td>@Model.GetAllSkillsAsCommaSeparatedString()</td>
</tr>